{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container accountbox">
    <h2>User Profile</h2>
    <img src="{% static 'images/nobody.jpg' %}" alt="Profile Picture" class="img-thumbnail profilepic">
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Date Joined:</strong> {{ user.date_joined }}</p>
    <p><strong>Last Logged In:</strong> {{ user.last_login }}</p>
    <h3>Games Purchased</h3>
     <ul>
        <!-- Loop through the games purchased by the user -->
        {% for game in profile.purchased_games.all %}
            <li>{{ game.title }}</li>
        {% empty %}
            <li>No games purchased.</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}