:root {
    --playstation_blue: #00439C;
    --playstation_black: #000000;
    --playstation_white: #F9FAFC;
    --playstation_black_transparent: rgba(0, 0, 0, 0.9);
    --playstation_orange: #D53D02;
}

body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: var(--playstation_blue);
}

.main-bg {
    background-color: var(--playstation_black_transparent)
}

.card {
    border: none;
}

.indexcard {
    font-family: 'Noto Sans'!important;
    color: var(--playstation_white) !important;
    box-shadow: 0 5px 14px rgb(0 0 0);
    border-radius: 5px;
    z-index: 2;
    margin-right: 10px;
    margin-left: 10px;
}

.indexcardtext {
    font-size: 22px;
}

.indexcardtitle {
    font-size: 24px;
}

/* .indexcard:hover {
    filter: brightness(1);
}

/* .indexcardcontainer:hover .indexcard {
    filter: brightness(0.5);
} */

/* .indexcard:not(:hover) {
    filter: brightness(0.7);
    background-color: #eceef1;
}

.indexcardcontainer:hover .indexcard {
    filter: brightness(1);
} */ 


.card-bg {
    background-color: var(--playstation_black_transparent);
    z-index: 0;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: var(--playstation_blue);
}

.link {
    color: var(--playstation_blue);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.profile-image {
    width: 75%;
}

#login-background {
    background-image: url('../images/background_accounts.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1150px;
}

.container_background {
    /* margin-right: -10%; */
    padding-top: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
}

.button_colour {
    background-color: var(--playstation_blue);
    width: 100%;
    border-radius: 50px;
}

.masthead {
    margin-top: 0px;
    overflow: visible;
    height: 40vh;
    width: 100%;
}

.card_new {
    background-color: var(--playstation_black_transparent);
    padding-bottom: 20px;
}

.orange_purchase_button {
    background-color : var(--playstation_orange);
    border-color: var(--playstation_orange);
    border-radius: 25px;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

/* Support Page */
.support-form {
    background-image: url('../images/SupportBG.webp');
    background-size: cover;
    background-position: center;
}

.supportbg {
    background-color: var(--playstation_white);
    padding: 30px;
    font-family: 'Noto Sans'!important;
    font-size: 140% ;
    font-weight: 200 !important;
}

.Mainform {
    margin-top: -50px;
}
.contactus {
    font-size: 150%;
    font-weight: 400;
}

.email {
    font-size: 100%;
    font-weight: 400;
}

.phone {
    font-size: 100%;
    font-weight: 400;
}

.livechat {
    font-size: 90%;
}

.navbarleftpadding {
    padding-left: 10px;
    padding-right: 10px;
}
.navbarrightpadding {
    margin-left: auto;
    padding-right: 10px;
}

.gameintro {
    font-size: 28px;
    color: var(--playstation_white);
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Noto Sans', sans-serif;
}


hr {
    border-top: 5px solid black;
    margin: 1px;
}

.gamecard {
    font-family: 'Noto Sans'!important;
    color: var(--playstation_white) !important;
    box-shadow: 0 5px 14px rgb(0 0 0);
    border-radius: 5px;
    z-index: 2;
}

.gamecardbody {
    margin-right: 10px;
    margin-left: 10px;
}

.gamecardtext {
    font-size: 22px;
}

.gamecardtitle {
    padding-top: 10px;
}

.populargames {
    font-size: 28px;
    color: var(--playstation_white);
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Noto Sans', sans-serif;
}

.gamenav {
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    margin-top: 10px;
    font-weight: 500;
}

.page-link {
    color: var(--playstation_black_transparent);
    border-radius: .25rem;
}

.signup {
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
}

.signupintro {
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
}

.signupintrotitle {
    font-size: 28px;
    font-family: 'Noto Sans', sans-serif;
}

.login {
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
}

.loginintro {
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
}

.loginintrotitle {
    font-size: 28px;
    font-family: 'Noto Sans', sans-serif;
}

.btn-signup {
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
}

.accountbox {
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
    color: var(--playstation_white);
    margin-top: 20px;
}

.hero-image-container {
    padding: 0px;
}

.hero-text-div {
    padding: 0px;
}

.cardcontainerindex {
    padding: 0;
}

.game-info-top {
    flex-direction: row;
    background-color: var(--playstation_black_transparent);
    justify-content: center;
    font-size: 22px;
    
}

.game-info-image {
    justify-content: center;
    margin-top: 20px;
}

.game-legal-info {
    font-size: 28px;
    color: var(--playstation_white);
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--playstation_white);
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-top: 40px;
}

.cardrowindex {
    width: 100%;
}

.indexcardcontain {
    padding: 0;
}

.row {
    --bs-gutter-x: 0rem;
}

.container-fluid {
    padding: 0;
}

.commentheading{
    padding-top: 20px;
    padding-left: 20px;
}

@media (max-width: 320px) {
    /* Home Page */
    .cardtextindex:hover {
        color: var(--playstation_blue);
    } 

    .indexcardtext {
        font-size: 22px;
    }

    .indexcardtitle {
        padding-top: 10px;
    }

    /* Game Page */
    .alltextgame:hover {
        color: var(--playstation_blue);
    }

    /* Register Page */
    .container_background {
        padding-top: 10px;
    }
}

@media (min-width: 321px) and (max-width: 374px) {
    /* Home Page */
    .cardtextindex:hover {
        color: var(--playstation_blue);
    } 

    .indexcard {
        min-height: 490px;
        height: auto;
    }

    .cardcontainerindex {
        max-width: 100%;
        padding: 0;
    }

    .gamecardbody {
        height: 505px;
    }

    /* Register Page */
    .container_background {
        padding-top: 30px;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    /* Home Page */
    .cardtextindex:hover {
        color: var(--playstation_blue);
    } 

    .indexcard {
        min-height: 450px;
        height: auto;
    }

    .cardcontainerindex {
        max-width: 100%;
        padding: 0;
    }

    .gamecardbody {
        min-height: 490px;
        height: auto;
    }

    /* Register Page */
    .container_background {
        padding-top: 30px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    /* Home Page */
    .cardtextindex:hover {
        color: var(--playstation_blue) !important;
    } 

    .indexcard {
        min-height: 450px;
        height: auto;
    }

    .cardcontainerindex {
        max-width: 100%;
        padding: 0 !important;
    }

    .gamecardbody {
        min-height: 450px;
        height: auto;
    }

    /* Register Page */
    .container_background {
        padding-top: 30px !important;
    } 
} 

@media (min-width: 1025px) and (max-width: 1440px) {
    /* Home Page */
    .indexcard {
        min-height: 400px;
        height: auto;
    }

    .cardcontainerindex {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    
    /* Game Buy Page */
    .game-info-top {
        font-size: 24px;
    }

    .gamecardcontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .gamecardbody {
        height: 510px;
    }

    /* Register Page */
    .container_background {
        padding-top: 30px;
    }

    .profilepic {
        width: 20vw;
        height: 20vw;
    }

} 

@media (min-width: 1441px) and (max-width: 2560px) {
    /* Home Page */

    .cardcontainerindex {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    
    /* Game Buy Page */
    .game-info-top {
        font-size: 24px;
    }

    .gamecardcontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .gamecardbody {
        height: 650px;
    }

    /* Register Page */
    .container_background {
        padding-top: 30px;
    }

    .profilepic {
        width: 20vw;
        height: 20vw;
    }
} 
