:root {
    --playstation_blue: #00439C;
    --playstation_black: #000000;
    --playstation_white: #F9FAFC;
    --playstation_black_transparent: rgba(0, 0, 0, 0.9);
    --playstation_orange: #D53D02;
}

body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: var(--playstation_blue);
}

.main-bg {
    background-color: var(--playstation_white)
}

.card {
    border: none;
}

.indexcard {
    font-family: 'Noto Sans'!important;
    color: var(--playstation_white) !important;
    box-shadow: 0 5px 14px rgb(0 0 0);
    border-radius: 5px;
    z-index: 2;
}

.indexcardtext {
    font-size: 20px;
}

/* .indexcard:hover {
    filter: brightness(1);
}

/* .indexcardcontainer:hover .indexcard {
    filter: brightness(0.5);
} */

/* .indexcard:not(:hover) {
    filter: brightness(0.7);
    background-color: #eceef1;
}

.indexcardcontainer:hover .indexcard {
    filter: brightness(1);
} */ 


.card-bg {
    background-color: var(--playstation_black_transparent);
    z-index: 0;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: var(--playstation_blue);
}

.link {
    color: var(--playstation_blue);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.profile-image {
    width: 75%;
}

#login-background {
    background-image: url('../images/background_accounts.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1150px;
}

.container_background {
    /* margin-right: -10%; */
    padding-top: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
}

.button_colour {
    background-color: var(--playstation_blue);
    width: 100%;
    border-radius: 50px;
}

.masthead {
    margin-top: 0px;
    overflow: visible;
    height: 40vh;
    width: 100%;
}

.card_new {
    background-color: var(--playstation_black_transparent);
    padding-bottom: 20px;
}

.orange_purchase_button {
    background-color : var(--playstation_orange);
    border-color: var(--playstation_orange);
    border-radius: 25px;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

/* Support Page */
.support-form {
    background-image: url('../images/SupportBG.webp');
    background-size: cover;
    background-position: center;
}

.supportbg {
    background-color: var(--playstation_white);
    padding: 30px;
    font-family: 'Noto Sans'!important;
    font-size: 140% ;
    font-weight: 200 !important;
}

.contactus {
    font-size: 150%;
    font-weight: 400;
}

.email {
    font-size: 100%;
    font-weight: 400;
}

.phone {
    font-size: 100%;
    font-weight: 400;
}

.livechat {
    font-size: 90%;
}

/* .navbar {
    background-color: var(--playstation_black);
} */

@media (max-width: 320px) {
    /* ADD it so that the new release section on Index is collapsable */
}

@media (max-width: 320px) {
    /* ADD it so that the new release section on Index is collapsable */
}